main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.trayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 64px;
    width: 736px;
}

.trayContainer .trayHeader {
    display: flex;
    justify-content: space-between;
}

.trayContainer .trayBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
