.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 64px;
}

.container .trayHeader {
    display: flex;
    justify-content: space-evenly;

}

.container .trayBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}