header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 72px;
    height: 200px;
    background: var(--gray-700);
}

header .container {
    display: flex;
    justify-content: center;
    width: 736px;
}

.logo {
    width: 126px;
    height: 48px;
}
